asgiref==3.10.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
Django==5.2.8
django-csp==4.0
django-taggit==6.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
idna==3.10
inflection==0.5.1
mysql-connector-python==9.4.0
mysqlclient==2.2.7
packaging==25.0
pillow==12.0.0
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytimeparse2==1.7.1
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
simplejson==3.20.2
six==1.17.0
sqlite3-to-mysql==2.5.1
sqlparse==0.5.3
tabulate==0.9.0
tqdm==4.67.1
tzdata==2025.2
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.5.0
